
        .sidebar{
            position: fixed;
            width: 250px;
            height: 100%;
            left: 0;
            background-color: rgb(160, 160, 160);
        }
        .kanan {
            margin-left: 250px;
            height: 100%;
            background-color: rgb(117, 252, 128);
        }
        .topbar{
            position: fixed;
            top: 0;
            height: 64px;
            background-color: aquamarine;
            width: 100%;
        }
        .main {
            position: relative;
            top: 64px;
            background-color: aqua;
        }

        .profil {    
            text-align: center;
            border-bottom: 2px solid white;
            margin: 20px 5px 0 5px;
            padding-bottom: 10px;
        }
        .sidebar .profil .foto img {
            border-radius: 50%;
            border:5px solid white;
        }
        .sidebar .menu{
            padding: 0 5px;
        }
        .sidebar> .menu ul li {
            padding: 10px 20px;
            border-radius:100px;
        }
        .sidebar>.menu > ul > .menu-item:hover {
            background-color: white;
            cursor: pointer;
        }
        .sidebar>.menu > ul > .menu-item:hover span,
        .sidebar>.menu > ul > .menu-item:hover i{
            color: black;
        }